hr {
  border: 2px dotted rgb(151, 135, 222);
}
#name,
#message {
  background-color: lightyellow;
}
.sendname {
  color: rgb(84, 24, 153);
}
.display-4 {
  font-weight: 500;
  font-family: "Georgia";
  color: rgb(194, 161, 118);
}
body {
  background-image: url("Background.jpg");
}
