hr {
  border: 1px dotted burlywood;
}
#name,
#message {
  background-color: lightyellow;
}
.sendname {
  color: rgb(121, 211, 17);
}
.display-4 {
  font-weight: 400;
  font-family: "Lucida Handwriting";
  color: rgb(194, 161, 118);
}
body {
  background-image: url("Background.jpg");
}
